/* Full-width input fields */
input[type=text3]{
    width: 20%;
    padding: 12px 20px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #1197cc;
    box-sizing: border-box;
    color: #f16600;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: auto;

}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */


.acpetarbtn2 {
    width: 10%;
    padding: 10px 20px;
    background-color: #2bcf63;
   }

.cancelbtn1 {
    width: 8%;
    padding: 10px 18px;
    background-color: #f44336;
    color: white;


}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 20%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height : 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.59); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal1-content {
    background-color: rgba(2, 2, 2, 0.31);
    margin: 3% auto 10% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid rgb(2, 0, 0);
    width: 50%; /* Could be more or less, depending on screen size */

}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 10px;
    top: 0;
    color: #ff0012;
    font-size: 100px;
    font-weight: bold;

}

.close:hover,
.close:focus {
    color: #f40b00;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn1 {
        width: 80%;
    }
}

.color1{
    color: rgba(0, 254, 54, 0.99);
    font-size: 20px;
}

.textarea {
    color: #fff811;
}
.textarea:focus {
    outline-style: solid;
    outline-width: 2px;
}

.textcolor{
    color: #00ff30;
}

.textC{
    color: #9de9ff;
}

.Estadox{
    color: red;
}